{% extends 'tutors/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block main %}
<h2>Reset Password</h2>
    <p>Please specify your email address to receive instructions for resetting it.</p>

    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="id_email">E-mail address:</label>
                    <input id="id_email" maxlength="254" name="email" type="email" class="form-control">
                    <div class="text-danger">{{ form.email.errors }}</div><div style="margin:5px"></div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-refresh"></i>
                        Reset password
                    </button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}