{% extends 'tutors/courses/base.html' %}
{#{% extends 'tutors/base.html' %}#}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Course Details{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% clear_breadcrumbs %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="top-session">
                <div class="row" id="course">
                    <div class="col-md-12" >
                        <h2><i class="fa fa-book"></i> {{ course }} by {{ course.teacher }}</h2>
                    </div>
                </div>
                <div class="row" id="course">
                    <div class="col-md-10">
                        <h4><a href="{% url 'student-course-details' course.id %}?year={{ monthly_data.last_month.year }}&month={{ monthly_data.last_month.month }}"><i class="fa fa-caret-left"></i> </a>
                            {{ monthly_data.this_month|date:"F" }} {{ monthly_data.this_month|date:"Y" }}
                            <a href="{% url 'student-course-details' course.id %}?year={{ monthly_data.next_month.year }}&month={{ monthly_data.next_month.month }}"><i class="fa fa-caret-right"></i> </a>
                        </h4>
                        <table class="table table-bordered course-calendar">
                            <tr>
                                <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
                            </tr>
                            {% for row in monthly_data.calendar %}
                                <tr>
                                    {% for day, items in row %}
                                        <td {% if items %}class="today" {% endif %}>
                                            {% if day %}
                                                <div class="day-ordinal">
                                                    {{ day }}
                                                </div>
                                            {% endif %}
                                            {% if items %}
                                                {% for item in items %}
                                                    {{ item.start_time|time }} - {{ item.end_time|time }}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row" id="course">
                    <div class="col-md-12">
                        <h3><i class="fa fa-file-text"></i> Description</h3>
                        <p>
                            {% if course.description %}
                                {{ course.description }}
                            {% else %}
                                Currently, teacher hasn't set description for this class.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}