{% extends 'tutors/base.html' %}

{% load staticfiles %}
{% load bootstrap %}

{% block banner %}
    <section class="visible-xs banner-sm">
    &nbsp;
    </section>
    <section class="banner">
        <div class="banner-cover">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8" style="min-height: 500px;">
                    <h2 class="banner-text">
                        With MYSAYAR, you can finally become a self-employed full-time tutor.
                    </h2>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4">
                    <div class="signup bg-primary">
                        <h2>
                            Sign Up Now
                        </h2>
                        <br/>

                        <form action="" class="form" autocomplete="off">
                            <div class="control-group">
                                <div class="form-controls">
                                    {{ signup_form | bootstrap_inline }}
{#                                    <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off"/>#}
{#                                    <br/>#}
{#                                    <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off"/>#}
{#                                    <br/>#}
                                    <button class="btn btn-full btn-lg btn-secondary" style="">Sign Up Free</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <section class="feature">
        <div class="row">
            <div class="col-sm-6">
                <img class="feature-image" src="{% static 'img/schedule.png' %}" alt=""/>
            </div>
            <div class="col-sm-6">
                <h2>Online Class Schedules</h2>

                <p>
                    Manage your time effectively with our Class Scheduling System.
                </p>
            </div>
        </div>
    </section>
    <section class="feature feature-alt">
        <div class="row">
            <div class="col-sm-6 sm-pull-right">
                <img class="feature-image" src="{% static 'img/standout-gray.png' %}" alt=""/>
            </div>
            <div class="col-sm-6">
                <h2>Be Visible</h2>

                <p>
                    You no longer have to rely on word of mouth to get students. By enlisting in our database, your
                    potential students can find you easily.
                </p>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="row">
            <div class="col-sm-6">
                <img class="feature-image" src="{% static 'img/register.png' %}" alt=""/>
            </div>
            <div class="col-sm-6">
                <h2>e-Registration</h2>

                <p>
                    Receive applications online through our e-Registration System.
                </p>
            </div>
        </div>
    </section>
    <section class="feature">
        <div class="row">
            <div class="col-sm-6 sm-pull-right">
                <img class="feature-image" src="{% static 'img/homework.png' %}" alt=""/>
            </div>
            <div class="col-sm-6">
                <h2>Receive Homework Online</h2>

                <p>
                    Check your students' work before their next class for maximum efficiency.
                </p>
            </div>
        </div>
    </section>
    </div>
    <section class="feature blackboard">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <img class="hidden-sm hidden-xs" style="float: right; margin-right: -220px;"
                         src="{% static 'img/signupnow-arrow.png' %}" alt=""/>
                    <img class="visible-sm visible-xs" style=" margin: 0 auto 40px auto;"
                         src="{% static 'img/signupnow-sm.png' %}" alt=""/>
                </div>
                <div class="col-md-offset-1 col-md-4 col-lg-3 col-xs-offset-2 col-xs-8">
                    <div class="signup bg-primary" style="margin-top: 10px;">
                        <form action="" class="form" autocomplete="off">
                            <div class="control-group">
                                <div class="form-controls">
                                    {{ signup_form | bootstrap_inline }}
{#                                    <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off"/>#}
{#                                    <br/>#}
{#                                    <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off"/>#}
{#                                    <br/>#}
                                    <button class="btn btn-full btn-lg btn-secondary" >Sign Up Free</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}