{% extends 'tutors/base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load has_group %}
{% load youtube_embed %}

{% block main %}

    <div class="loading"></div>
    <div class="text-center alert alert-info success" style="display: none">Your application has been sent to teacher.</div>
    <div class="text-center alert alert-danger error" style="display: none">Sorry, you need to log in first before applying this course.<a href="{% url 'user-login' %}">Log in</a></div>
    <div class="text-center alert alert-danger existing_student" style="display: none">Sorry, you have already applied this course.</div>

<div class="row">
    <div class="col-md-12">
    {% if course %}
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">{{ course.title }} by {{ course.teacher }}</h3>
            </div>

            {% if course.youtube_link %}
                <div class="col-lg-12">
                    {{ course.youtube_link|youtube_embed|safe }}
                </div>
            {% endif %}

            <div class="col-lg-12">
                 <div class="row">
                    <div class="col-md-4">
                        <h3><i class="fa fa-picture-o" aria-hidden="true"></i> Course Image(s)</h3>

                    </div>
                     <div>
                            {% include 'tutors/courses/course_image.html' %}
                     </div>
                 </div>
            </div>

            <div class="col-md-12 course-padding-div">
                <div class="row">
                    <div class="col-md-4">
                        <h3><i class="fa fa-calendar"></i> Class Schedule</h3>
                        <p>
                            {% if course.get_class_schedule %}
                                {% for o in course.get_class_schedule %}
                                    {% if course.weekly_class_event %}
                                        {{ o.start_time|date:"l" }} ({{ o.start_time|date:"P" }} - {{ o.end_time|date:"P" }})<br>
                                    {% else %}
                                        {% if o.start_time.date == o.end_time.date %}
                                            {{ o.start_time|date:"j.m.y" }} ({{ o.start_time|date:"P" }} - {{ o.end_time|date:"P" }})<br>
                                        {% else %}
                                            {{ o.start_time|date:"j.m.y" }}({{ o.start_time|date:"P" }}) - {{ o.end_time|date:"j.m.y" }}({{ o.end_time|date:"P" }}) <br>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                            {% else %}
                                Currently, teacher hasn't set the schedule for this class.
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4><a href="{% url 'courses-detail' course.id %}?year={{ monthly_data.last_month.year }}&month={{ monthly_data.last_month.month }}"><i class="fa fa-caret-left"></i> </a>
                            {{ monthly_data.this_month|date:"F" }} {{ monthly_data.this_month|date:"Y" }}
                            <a href="{% url 'courses-detail' course.id %}?year={{ monthly_data.next_month.year }}&month={{ monthly_data.next_month.month }}"><i class="fa fa-caret-right"></i> </a>
                        </h4>
                        <table class="table table-bordered course-calendar">
                            <tr>
                                <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
                            </tr>
                            {% for row in monthly_data.calendar %}
                                <tr>
                                    {% for day, items in row %}
                                        <td {% if items %}class="today" {% endif %}>
                                            {% if day %}
                                                <div class="day-ordinal">
                                                    {{ day }}
                                                </div>
                                            {% endif %}
                                            {% if items %}
                                                {% for item in items %}
                                                    {{ item.start_time|time }} - {{ item.end_time|time }}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" >
                        <h3><i class="fa fa-file-text"></i> Description:</h3>
                        <p>
                            {% if class.description %}
                                {{ class.description }}
                            {% else %}
                                Currently, teacher hasn't added the description for this class.
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" >
                        {% if not request.user|has_group:"Teacher" %}
                            <a href="#" class="btn btn-lg btn-primary apply-btn">Apply Now</a>
{#                            <br><br>#}
                            <a href="#" class="btn btn-lg btn-default">Message Teacher</a>
                            <br><br>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    {% endif %}

    <input type="hidden" id="course_id" value="{{ course.id }}">
    <input type="hidden" id="user_id" value="{{ request.user.id }}">
    </div>
</div>

{% endblock %}