{% extends 'tutors/courses/base.html' %}
{#{% extends "tutors/base.html" %}#}
{% block title %}Add Course Schedule{% endblock %}
{% load staticfiles %}
{% load bootstrap %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Monthly" "monthly-calendar" course_id current_datetime.year current_datetime.month %}
    {% breadcrumb "Daily Calendar" "daily-calendar" course_id dtstart.year dtstart.month dtstart.day %}
    {% breadcrumb "Add Schedule" "" %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ course }}'s Event and Schedule Details </h1>
            <form action="" method="post">{% csrf_token %}
                <h3>Event Details</h3>
                {% include 'swingtime/event_form_part.html' %}
                <div class="row">
                    <div class="col-md-6" align="center">
                        <button class="btn btn-primary" type="submit" name="_update" ><i class="fa fa-pencil"></i> Update</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if event.occurrence_set.count %}
            <div class="row">
                <div class="col-md-6">
                 <h3>Schedule Details</h3>
                    <ol>
                        {% for o in event.occurrence_set.all %}
                            <li>
                                {% if o.start_time.date == o.end_time.date %}
                                    <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                                        {{ o.start_time|date:"l, F jS, Y" }} {{ o.start_time|date:"P" }} &ndash; {{ o.end_time|date:"P" }}</a>
                                    {% else %}
                                    <a href="{% url 'swingtime-occurrence' event.id o.id %}">
                                        {{ o.start_time|date:"l, F jS, Y P" }} &ndash;
                                        {{ o.end_time|date:"l, F jS, Y P" }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <h2>No course schedule found.</h2>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Add Schedule</h4>
            <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                    {% include 'swingtime/recurring_form_part.html' %}
                </div>
                <div class="row" style="margin:10px 0px;">
                    <div class="col-md-6" align="center">
                        <button class="btn btn-primary" type="submit" name="_add"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}