{% load staticfiles %}
{% load bootstrap %}

<div class="row">
    <div class="col-md-6">
        {{ event_form.event_type | bootstrap_horizontal:'col-md-3'}}
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6">
        {{ event_form.title | bootstrap_horizontal:'col-md-3' }}
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6">
        {{ event_form.description | bootstrap_horizontal:'col-md-3' }}
    </div>
</div>
<br>


{#        <tr><th>{{ event_form.event_type.label_tag }}</th>#}
{#            <td>{{ event_form.event_type.errors }}#}
{#                {{ event_form.event_type }}</td></tr>#}

{#        <tr><th>{{ event_form.title.label_tag }}</th>#}
{#            <td>{{ event_form.title.errors }}#}
{#                {{ event_form.title }}</td></tr>#}

{#        <tr><th>{{ event_form.description.label_tag }}</th>#}
{#            <td>{{ event_form.description }}</td></tr>#}
