{% extends 'tutors/base.html' %}
{% load has_group %}
{% load staticfiles %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col-md-12" style="margin: 10px;">
            <h1 class="page-header"><i class="fa fa-key"></i> Change Password</h1>
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form | bootstrap }}
                        {% if request.user|has_group:"Teacher" %}
                            <a href="{% url 'teacher_dashboard' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
                        {% else %}
                            <a href="{% url 'student_dashboard' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
                        {% endif %}
                        <button type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i> Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}