{% extends 'tutors/base.html' %}

{% load staticfiles %}
{% load bootstrap %}

{% block banner %}
    <section class="visible-xs banner-sm">
    &nbsp;
    </section>
    <section class="banner">
        <div class="banner-cover">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 register-banner">
                    <h2 class="register-banner-text"> Welcome to MYSAYAR</h2>
                    <p>Learn from the best. Any Time. Any Where.</p>
                    <div class="register bg-primary">
                        <h2>Join Us Now</h2>
                        <br/>
                        <div class="control-group">
                            <div class="form-controls">
                                <a href="{% url 'teacher-user-register' %}" class="btn btn-lg btn-success" style="margin: 5px;">Register as Teacher</a>
                                <a href="{% url 'student-register' %}" class="btn btn-lg btn-primary" style="margin: 5px;">Register as Student</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
{% endblock %}